doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Home page
        link(rel="stylesheet" href="/assets/css/main.css")
    body 
        include partials/header.pug
        main 
            h1 Home page
            div 
                span.home-text It is the world's first Document
            img(src="/assets/img/1.jpg" alt="image description")

        script(src="/assets/js/main.js") 
